<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <script type="text/javascript">

        //        $(document).ready(function () {
        //            $(".list-group-item").click(function () {
        //                $(this).addClass("active").siblings().removeClass("active");
        //            })
        //        });

    </script>
    <div class="col-sm-2" style="height:auto">
        <a href="index" class="list-group-item">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>首页
        </a>
        <a href="welcome" class="list-group-item">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>内容过滤
        </a>
        <!--<a href="filter" class="list-group-item">-->
            <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>敏感词管理-->
        <!--</a>-->
    </div>
</div>
</body>fi
</html>